<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #021f34;">
    <div class="container-fluid  ">
      <a class="navbar-brand " href="#">
        <img src="./assets/c.png" alt="" width="50" height="50" class=" ">
        BookToKaro.in </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
<div  class="collapse navbar-collapse " id="navbarSupportedContent">
<ul class="navbar-nav mr-auto" >
    <li class="nav-item dropdown">
        <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown
        </a>
      </li>
</ul>
</div>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mb-1 ml-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">+Create Event</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Sign in</a>
          </li>
         
        </ul>
  
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit" >
                <i class="fa fa-search"></i></button>
          </form>
          
        
        
      </div>
    </div>
  </nav>