<div class="footer"style="margin-bottom:2px ;">
    <div class="row py-2 " >
        <div class="col">
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="col">
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="col">
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row" style="text-align: center;margin-left: 2px;width: 100%;" >BookToKaro @2022 All Rights reserved.</div>
    
</div>

