<div class="container-fluid">
<div class="row mx-2 my-2">
    <div class="card" style="width: 100%;background-color: white;">
        <div class="row">
            <div class="col-md-3"><img class="p-4" src="https://cdn2.allevents.in/thumbs/thumb62db42fe9a3ba.jpg" width="100%"></div>
            <div class="col-md-6"><p class="p-4">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p></div>        
            <div class="col-md-3 p-4" style="text-align: center;margin: auto;"><button class="btn btn-warning">Tickets</button></div>
        </div>
      </div>
</div>
<div class="row mx-2 my-2">
    <div class="col-md-8 p-4 ">
        <div class="row">
            <div class="card p-2" style="width: 100%; padding-left:2px;">
                <img class="p-4" src="https://cdn2.allevents.in/thumbs/thumb62db42fe9a3ba.jpg" width="100%">
                <h5 class="px-4" >This is heading 5</h5>
                <p class="px-4">gdfdgddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddThis is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                <p class="px-4 " style="font-weight: bold;color: grey;">this is description 2</p>
                <p class="px-4">Contact us @</p>
                <p class="px-4">Email us @</p>
                
                <div class="col px-4" >
                    <h4>Tickets</h4><br>
                    <button class="btn btn-warning">Tickets</button><br><br>
                    <h4>Event Photos</h4><br>
                    <div style="width: 100%;  ">

                        <!-- The grid: four columns -->
                        <div class="row">
                            <div class="col">
                            <img src="https://cdn2.allevents.in/thumbs/thumb62db42fe9a3ba.jpg" width="100" alt="Nature" onclick="myFunction(this);">
                            </div>
                            <div class="col">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRH6u1douWHxn-IyMgZOH7nSeJuaILktO4zq-Hq5kI1lA&s" width="100" alt="Snow" (onclick)="myFunction(this);">
                            </div>
                            <div class="col">
                            <img src="img_mountains.jpg" alt="Mountains" onclick="myFunction(this);">
                            </div>
                            <div class="col">
                            <img src="img_lights.jpg" alt="Lights" onclick="myFunction(this);">
                            </div>
                        </div>
                        
                        <!-- The expanding image container -->
                        

                        

                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4  p-4  " >
        <div class="row my-2 ">
            <div class="card p-2" style="width: 100%;height:100%;">
            <div class="col-md-3 p-2 "><img src="https://cdn2.allevents.in/thumbs/thumb62db42fe9a3ba.jpg" width="100%"></div>
            <div class="col-md-6"><p>This is a hkjhkhlkhl hjjkjkkj knjknjkjk modified jumbotron This is a hkjhkhlkhl hjjkjkkj knjknjkjk modified jumbotron that occupies the entire horizontal space of its parent.</p></div>        
            <div class="col-md-3" style="text-align: center;margin: auto;"><button class="btn btn-warning">Tickets</button></div>
            </div>
        </div>
        <div class="row  ">
            <div class="card p-2" style="width: 100%;height: 100%;">
            <div class="col-md-3 p-2"><img src="https://cdn2.allevents.in/thumbs/thumb62db42fe9a3ba.jpg" width="100%"></div>
            <div class="col-md-6"><p>This is a modified jumbotron that occupies the entire horizontal space of its parent.</p></div>        
            <div class="col-md-3" style="text-align: center;margin: auto;"><button class="btn btn-warning">Tickets</button></div>
            </div>
        </div>
        
    </div>
</div>
</div>
